@{
    ViewData["Title"] = "Strona nie znaleziona";
}

<h2>404 - Strona nie znaleziona</h2>
<p>Przepraszamy, ale strona, której szukasz, nie istnieje.</p>
<a asp-action="Index" asp-controller="Home">Powrót do strony głównej</a>